$fontSize: 16px;

/* Utility functions */
@function hexToRgbaConverter($hex_color) {
  @return '#{red($hex_color)}, #{green($hex_color)}, #{blue($hex_color)}';
}

@function renderColorName($color-name) {
  @return var(--color-#{$color-name});
}

@function rgbToStringConverter($rgb_color) {
  @return 'rgb(#{unquote($rgb_color)})';
}

// sass variable map 
$colors: (backgroundColor: hexToRgbaConverter(#201A23),
  fontColor: hexToRgbaConverter(#F0F7EE),
  cardBackgroundColor: hexToRgbaConverter(#2E2532),
);
$backgroundColor: renderColorName(backgroundColor);
$fontColor: renderColorName(fontColor);
$cardBackgroundColor: renderColorName(cardBackgroundColor);

:root {

  @each $name,
  $color in $colors {
    --color-#{$name}: #{rgbToStringConverter($color)};
  }
}

@function v($var) {
  @return var(--#{$var});
}