$bgcolor: #201A23;
$textColor: #F0F7EE;
$fontSize: 16px;
$cardColor: #2E2532;

// sass variable map 
$colors: (background-color: $bgcolor,
  font-color: $textColor,
  card-color: $cardColor);

// loop over each name, color
:root {

  // each item in color map
  @each $name,
  $color in $colors {
    --#{$name}: #{$color};
  }
}

@function v($var) {
  @return var(--#{$var});
}